<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="rutinas">
      <fa-icon class="icon-tab" icon="person-running"></fa-icon>
      <ion-label>Rutinas</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="galeria">
      <fa-icon class="icon-tab" icon="clone"></fa-icon>
      <ion-label>Galeria</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="citas">
      <fa-icon class="icon-tab" icon="calendar-days"></fa-icon>
      <ion-label>Citas</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="couch">
      <fa-icon class="icon-tab" icon="dumbbell"></fa-icon>
      <ion-label>Couch</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
